.Logo {
  font-size: 5rem;
  color: white;
}

nav {
  text-align: left;
  padding: 0 0 5% 0;
}

body {
  text-align: center;
  margin: 3%;
  background-color: black;
}

a:visited {
  color: white;
}

.ResultsDiv {
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    font-size: 1rem;

}

/* .ArtistResults {
}

.ArtistDetails {
} */

.ArtworkResults {
    display: flex;
    flex-flow: column-reverse nowrap;
    flex-direction: row;

}

/* .ArtworkDetails {
  border: 5px solid black;

} */

.EventsContainer{
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
    align-items: center;
    font-size: 1rem;
    color: white; 
    background: black;
}

.Events{
display: flex;
flex-flow: column-reverse nowrap;
flex-direction: row;
overflow: auto;

}

.EventDescription{
  max-height: 10rem;
  overflow: auto;
  
}

.EventDetails{
      border: gray 2px dashed;
      /* padding: 5px; */
      height: 300px;
      width: 100%;

}
